<footer>
  <div class="row flex-st">
    <div class="col-2 p-30 d-flex flex-start-col">
      <div class="footer-header">Liên Hệ Với Chúng Tôi</div>
      <div class="logo-img p-20">
        <img src="/img/logo_small.png" alt="logo" />
      </div>
      <div class="contact p-20 plr-10p">
        <div class="contact-name">
          <span class="contact-icon mr-20"><i class="fa-brands fa-square-facebook"></i></span> https://www.facebook.com/demeterofficial123</div>
        <div class="contact-num ">
          <span class="contact-icon mr-20"><i class="fa-solid fa-phone"></i></span>
           (+84)865 401 355
        </div>
        <div class="contact-mail">
          <span class="contact-icon mr-20"><i class="fa-solid fa-envelope"></i></span> zerohungervietnam@gmail.com</div>
      </div>
    </div>
    <div class="col-3 p-30">
      <div class="footer-header c-yellow">Nhỏ Mà Lớn Ấm Tình Người</div>
      <div class="sq">
        <div class="row">
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img4.png" alt="" />
          </div>
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img12.png" alt="" />
          </div>
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img10.png" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img9.png" alt="" />
          </div>
          <div class="col-3 footer-img grow">
            <img src="/img/logo_small.png" alt="" />
          </div>
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img2.png" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img1.png" alt="" />
          </div>
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img6.png" alt="" />
          </div>
          <div class="col-3 footer-img grow">
            <img src="/img/sec9-img7.png" alt="" />
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="copyright">Copyright 2022</div>
</footer>
</body>

</html>