<div class="fund-form plr-5p mt-30">
        <div class="row flex-st">
          <div class="col-2 w-70">
            <div class="fund-form-img">
              <img src="/img/show-form-img.png" alt="img" />
            </div>
          </div>
          <div class="col-2 plr-5p">
            <div class="fund-form-text">
              Sự đóng góp của bạn sẽ giúp chúng tôi đưa một gia đình thoát nghèo
            </div>
            <div class="text2 fund-form-text">BẠN SẼ CHỐNG NGHÈO VỚI ZERO HUNGER?</div>
            <div class="fund-form-content bg-gray">
              <form action="">
                <div class="row mb-30">
                  <select name="" id="">
                    <option value="day">Mỗi ngày</option>
                    <option value="week">Mỗi tuần</option>
                    <option value="month">Mỗi tháng</option>
                    <option value="year">Mỗi năm</option>
                  </select>
                </div>
                <div class="row mb-30">
                  <div class="col-2 mr-20">
                    <select name="" id="">
                      <option value="dollar">$</option>
                      <option value="VND">VND</option>
                    </select>
                  </div>
                  <div class="col-2 w-70 ">
                    <input type="number" name="" id="" placeholder="45" />
                  </div>
                </div>
                <div class="row mb-30">
                  <div class="col-2 mr-20">
                    <button type="button" value="mutual-fund" >Qũy Chung</button>
                  </div>
                  <div class="col-2 ">
                    <button type="button" value="need-most">Cần Nhất</button>
                  </div>
                </div>
                <div class="row">
                  <div class="fund-form-btn p-20 grow">GIVE</div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>