<%- include('./partials/header.ejs') %>
<div class="banner">
  <!-- <img src="/img/about-banner.png" alt="" /> -->
  <div class="banner-text">
    KHÔNG
    <div class="banner-text2">Để Ai Bị Bỏ Lại Phía Sau</div>
  </div>
</div>
<div class="banner2">
  <div class="row banner-container">
    <div class="col-2 banner2-img p-20 mr-20 grow">
      <a href="https://www.globalgoals.org/goals/2-zero-hunger/">
        <img src="/img/sec8-1-img.png" alt="" />
      </a>
    </div>
    <div class="banner2-content col-2">
      <div class="banner2-header">Câu chuyện của chúng tôi</div>
      <div class="banner2-text">
        Cùng với 16 mục tiêu phát triển bền vững (SDG) của Liên Hợp Quốc, Zero
        Hunger tập trung vào việc “Xóa đói, bảo đảm an ninh lương thực, cải
        thiện dinh dưỡng và thúc đẩy phát triển nông nghiệp bền vững”.Cùng với
        16 mục tiêu phát triển bền vững (SDG) của Liên Hợp Quốc, Zero Hunger tập
        trung vào việc “Xóa đói, bảo đảm an ninh lương thực, cải thiện dinh
        dưỡng và thúc đẩy phát triển nông nghiệp bền vững”.
      </div>
    </div>
  </div>
</div>

<div class="about-sec">
  <div class="row">
    <div class="col about-left">
      <div class="about-sec-header">Tầm nhìn</div>
      <div class="about-text">
        Zero Hunger là dự án cộng đồng hướng đến một xã hội mà không có ai bị bỏ
        lại, nơi mọi người đều có thể tiếp cận nguồn lương thực đảm bảo dinh
        dưỡng, vệ sinh, an toàn. Dự án sẽ trở thành cây cầu nối để giúp đỡ và
        đảm bảo an ninh lương thực cho người dân Việt Nam, hướng tới việc hoàn
        thành mục tiêu phát triển bền vững “Zero Hunger”. Trong tương lai, Zero
        Hunger mong muốn được hướng tới cộng đồng quốc tế, đặc biệt là những
        nước có tỷ lệ nghèo đói còn cao ở châu Á, châu Phi hay Mỹ La tinh để
        cùng chung tay thực hiện các mục tiêu phát triển bền vững.
      </div>
    </div>
    <div class="col about-aside-img">
      <img src="/img/about-img1.png" alt="" />
    </div>
  </div>
</div>

<div class="about-sec">
  <div class="row">
    <div class="col about-aside-img">
      <img src="/img/about-img2.png" alt="" />
    </div>
    <div class="col about-right">
      <div class="about-sec-header">Sứ mệnh</div>
      <div class="about-text">
        Là tổ chức phân phối và cung cấp lương thực cho hàng triệu dân miền
        Trung VN trong mùa bão lũ hàng năm. Góp phần giảm tỷ lệ trẻ em suy dinh
        dưỡng xuống mức tối thiểu tới năm 2030. Đảm bảo 100% những người trong
        diện hộ nghèo, gia đình hoàn cảnh khó khăn được tiếp cận với nguồn lương
        thực sạch, an toàn một cách minh bạch. Tạo ra công việc cho hàng triệu
        lao động, góp phần giảm tỷ lệ thất nghiệp, xóa đói giảm nghèo của các
        địa phương tới năm 2030.
      </div>
    </div>
  </div>
</div>

<div class="about-sec">
  <div class="about-sec-header c-yellow">Thành Tựu</div>
  <div class="row">
    <div class="col-3 grow p-20">
      <img src="/img/about-video1.png" alt="" />
    </div>
    <div class="col-3 grow p-20">
      <img src="/img/about-video2.png" alt="" />
    </div>
    <div class="col-3 grow p-20">
      <img src="/img/about-video3.png" alt="" />
    </div>
  </div>
</div>
<div class="bg-yellow about-rec"></div>

<%- include('./partials/fund-form.ejs') %> <%- include('./partials/footer.ejs')
%>
