<%- include('./partials/header.ejs') %>
<div class="sup-banner pos-re">
  <div class="sup-content">
    <div class="sup-header c-white">
      Chúng Tôi Cùng Với Bạn Trên Hành Trình Tìm Kiếm Hạnh Phúc Bằng Cách Lan
      Tỏa Tình Yêu Thương
    </div>
    <div class="sup-form">
      <form action="">
        <div class="row p-20 bg-blue">
          <select name="" id="" class="sup-form-ctrl mr-20">
            <option value="single datation">Theo tháng</option>
            <option value="single datation">Theo năm</option>
          </select>
          <select name="" id="" class="sup-form-ctrl mr-20">
            <option value="Dollar">$</option>
            <option value="VND">VND</option>
          </select>
          <input
            class="sup-form-ctrl mr-20"
            type="number"
            name=""
            id=""
            placeholder="Số lượng"
          />
          <button class="sup-form-ctrl mr-20" type="button">Quỹ chung</button>
          <button class="sup-form-ctrl mr-20" type="button">
            Cần nhất
          </button>
          <button
            type="submit"
            class="sup-form-btn sup-form-ctrl bg-yellow grow"
          >
            Quyên góp <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row flex-st w-70 m-a">
  <div class="col-2 w-70 p-30 m-30">
    <div class="supporter-form">
      <form action="">
        <div class="row mb-30">
          <div class="col-2 pr-20">
            <label for="">Họ tên người cung cấp lương thực *</label
            ><input type="text" />
          </div>
          <div class="col-2">
            <label for="">Điện thoại liên hệ *</label><input type="text" />
          </div>
        </div>
        <div class="row mb-30 mt-30">
          <div class="col-2 pr-20">
            <label for="">Email *</label><input type="text" />
          </div>
          <div class="col-2">
            <label for="">CCCD *</label><input type="text" />
          </div>
        </div>
        <div class="row mb-30 mt-30">
          <div class="col-2 pr-20">
            <label for="">Loại lương thực *</label><input type="text" />
          </div>
          <div class="col-2">
            <label for="">Số lượng *</label><input type="text" />
          </div>
        </div>
        <div class="row mb-30 mt-30">
          <div class="col-2 pr-20">
            <label for="">Giới hạn đồ ăn nhận theo đầu người *</label
            ><input type="text" />
          </div>
          <div class="col-2">
            <label for="">Địa chỉ *</label><input type="text" />
          </div>
        </div>
        <div class="mb-30">
          <label for="">Quốc gia *</label
          ><input type="text" placeholder="Việt Nam" />
        </div>
        <div class="mb-30">
          <label for="">Mô tả dự án <br /></label
          ><textarea name="" id="" rows="10"></textarea>
        </div>
        <div class="sup-authen">
          <label for="">Vui lòng đăng nhập các ký tự bên dưới *</label
          ><input type="text" />
          <div class="sup-authen-code">MYLETHI86</div>
        </div>
        <div>
          <button type="submit" class="sup-btn bg-yellow grow c-white">
            SEND MESSAGE
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-2">
    <div class="sup-aside">
      <div class="p-30">
        <div class="logo-img p-20">
          <img src="/img/logo.png" alt="logo" />
        </div>
        <div class="contact p-20">
          <div class="contact-name">Công ty CPGD American Study</div>
          <div class="contact-address mb-30">
            Địa chỉ: <br />
            – Tòa Yên Hòa Sunshine, số 9 Vũ Phạm Hàm, phường Yên Hòa, quận Cầu
            Giấy, thành phố Hà Nội
          </div>
          <div class="contact-num mb-30">
            (+84)865 401 355
          </div>
          <div class="contact-mail">zerohungervietnam@gmail.com</div>
        </div>
      </div>
      <div class="sup-aside-btn">
        <div class="bg-yellow c-white p-20 m-30 grow">HƯỚNG DẪN ĐÓNG GÓP</div>
        <div class="bg-yellow c-white p-20 m-30 grow">
          HƯỚNG DẪN NHẬN TỪ THIỆN
        </div>
        <div class="bg-yellow c-white p-20 m-30 grow">CẬP NHẬT ĐÓNG GÓP</div>
      </div>
      <div class="sup-aside-program">
        <div class="sup-aside-program-header p-20 m-30">CHƯƠNG TRÌNH</div>
        <ul class="sup-aside-program-content p-20 m-30">
          <li class="grow">Suất ăn giá rẻ</li>
          <li class="grow">Cứu trợ khẩn cấp</li>
          <li class="grow">Trợ giúp y tế</li>
          <li class="grow">Giáo dục & Dạy nghề</li>
          <li class="grow">Xây dựng</li>
          <li class="grow">Trạm lắng nghe</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/fund-form.ejs') %> <%- include('./partials/footer.ejs')
%>
