.header {
  position: relative;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(221, 221, 221);
}
.upper-header {
  align-content: center;
  justify-content: space-between;
  height: 51px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #ffffff;
  font-size: 18px;
  line-height: 50px;
  margin: 0px 120px;
  position: relative;
}
/* .upper-header::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 240px);
  width: 240px;
  height: 2px;
  background-color: rgb(221, 221, 221);
  bottom: 2px;
  left: -120px;
  right: -48px;
} */


.header-contact-number {
  color: #29abe2;
}
.header-contact-email {
  margin-left: 16px;
  position: relative;
}
.header-contact-email::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -11px;
  width: 2px;
  height: 30px;
  background-color: rgb(221, 221, 221);
}

.login-sign-up {
  cursor: pointer;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.login {
  color: #e4b634;
  position: relative;
  margin-right: 16px;
  transition: all 0.3s ease;
}
.login::after {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(221, 221, 221);
  right: -11px;
}
.login:active {
  transform: scale(1.5);
}
.sign-up {
  color: #e4b634;
  transition: all 0.3s ease;
}
.sign-up:active {
  transform: scale(1.5);
}

.lower-header {
  align-items: center;
  justify-content: space-between;
  margin: 0 120px;
  height: 106px;
}

.main-nav,
.sub-nav {
  list-style-type: none;
}

.main-nav li {
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;

}
.main-nav a {
  padding: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  transition: all 0.2s ease;
}

.main-nav > li:hover > a,
.main-nav .sub-nav li:hover a {
  background-color: rgb(62, 62, 62);
  color: wheat;
  border-radius: 5px;
  transform: scale(1.05);
}
.main-nav > li > a {
  text-transform: uppercase;
}
.sub-nav {
  min-width: 160px;
  position: absolute;
  display: none;
  top: 32px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.main-nav li:hover .sub-nav {
  display: block;
  z-index: 1;
}
.sub-nav li {
  position: relative;
  display: block;
  width: fit-content;
}
.sub-nav a {
  display: block;
}

.resgister-btn {
  padding: 10px;
  margin-left: 40px;
  background: #29abe2;
  border-radius: 9px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.resgister-btn:active,
.resgister-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
